/* 
*   Created by Madhavan 22/03/2020
**/

$primary-color: #4269EA;
$primary-bg-color: #F2F3F6;

$cart-button-color: #F7AD22;
$cart-text-green: #14A215;
$cart-text-grey: #A6A6A7;
$cart-item-bg-color: #FFF;

$primary-black: #000;
$nav-button-color: #F6CE23;
$nav-text-color: #fff;
$badge-bg-color: #FF0000;

$dialog-bg-color: #fff;

