/* 
*   Created by Madhavan 22/03/2020
**/
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.ttf');
}