/* 
*   Created by Madhavan 22/03/2020
**/
@import './font.scss';
@import './colors.scss';

body {
    background-color: $primary-bg-color;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    .content {
        padding-top: 75px;

        .fa-spin {
            position: absolute;
            top: 30%;
            left: 50%;
        }
    }   
}